:root {
  --space-purple: #8a2be2;
  --neon-blue: #1e90ff;
  --cosmic-pink: #ff69b4;

  --success: #39ff14;
  --error: #fa2f1c;
  --warning: #fad826;

  --dark-bg: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
}

[x-cloak] {
  display: none;
}

#navbar {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  background-color: var(--neon-blue);
}

#register_form,
#signin_form {
  display: flex;
  flex-flow: column;
}

.register_inpt,
.signin_inpt {
  outline: 1px solid hsl(203, 30%, 26%);
}

.register_inpt:not(:placeholder-shown):valid,
.signin:not(:placeholder-shown):valid {
  outline-color: var(--success);
}

.register_inpt:not(:placeholder-shown):invalid,
.signin_inpt:not(:placeholder-shown):invalid {
  outline-color: var(--error);
}

.register_inpt:focus:invalid,
.signin_inpt:focus:invalid {
  outline-color: var(--warning);
}
